<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Monaco Glass</title>
    <meta name="description" content="Glass support for Monaco editor" />
    <meta name="theme-color" content="#42e3ff" />
  </head>
  <body>
    <nav class="navbar">
      <h1>Monaco Glass</h1>
    </nav>
    <main>
      <nav id="files"></nav>
      <div class="wrapper">
        <div id="breadcrumbs"></div>
        <div id="editor"></div>
        <div id="problems"></div>
      </div>
    </main>
  </body>
</html>
